<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="h1">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @cafes.any? %>
        <div class="cafe_img">
          <% @cafes.each do |cafe| %>
            <img src = "https://sustainablejapan.jp/wp-content/uploads/2018/06/starbucks.jpg" ><br>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @cafes.any? %>
      <ul class="cafes favorite">
        <%= render @cafes %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>